/* ------------------------------ Toasts ------------------------------ */
.Toastify__toast {
	width: 500px;
	height: 100px;
	border-radius: 15px 50px;

}
.Toastify__toast--sccess {
	background-color: #53ad26;
}
/* ------------------------------ Toasts ------------------------------ */